@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
       
        <a asp-controller="car" asp-action="Index">Click Here To Get Car List</a>
    </h1>

</div>
